.mainfile {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("vaccine.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: space-evenly;
}

.text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 30px;

  border-radius: 15px;
}

.select {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 30px;

  border-radius: 15px;
}
label {
  justify-content: flex-start;
  display: flex;
  color: white;
  flex-direction: column;
  padding: 10px 10px;
  margin: 5px 2px;
  font-family: lucidia console, monospace;
  font-size: 20px;
}
.button {
  display: flex;
  color: white;
  background-color: rgba(144, 22, 192, 0.5);
  padding: 12px 40px;
  margin: 8px 100px;
  justify-content: center;
  border-radius: 15px;
  transition: 0.3s;
  font-family: lucidia console, monospace;
  font-size: 20px;
  font-weight: bold;
}

button:hover {
  background-color: rgba(144, 22, 192);
  color: white;
}
.container1 {
  display: flex;
  color: white;
  justify-content: space-around;
  background-color: rgba(218, 183, 87, 0.3);
  width: 30%;
  border: 50px;
  margin: 5% 8%;
  padding: 20px 20px;
  border-radius: 55px;
  flex-direction: column;
}

.container2 {
  display: flex;
  color: white;

  background-color: rgba(218, 183, 87, 0.3);

  border: 50px;
  margin: 5% 8%;
  padding: 20px 20px;
  border-radius: 55px;
  flex-direction: row;
}
.container3 {
  display: flex;
  color: white;

  background-color: rgba(235, 20, 163, 0.604);

  border: 50px;
  margin: 2% 3%;
  padding: 20px 20px;
  border-radius: 55px;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .container1 {
    font-size: 10px;
    width: 80%;
  }
  .button {
    font-size: 15px;
  }
}
